@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }
  .section-going {
    display: none;
  }
  .mob-menu-contacts {
    font-size: 36px;
  }
  .menu-team-soc-list {
    gap: 56px;
  }
}
