@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .list-item {
    list-style: none;
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
  .footer-container {
    max-width: 736px;
    gap: 72px;
    padding-left: 108px;
    display: flex;
  }
}
