@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .list-item {
    list-style: none;
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
  .title-workers {
    gap: 64px 24px;
  }
  .title-list {
    text-align: left;
  }
  .footer-container {
    max-width: 768px;
    padding-left: 108px;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
  }
  .container-footer-soc-title {
    text-align: left;
  }
  .footer-container-logo {
    text-align: left;
  }
  .subscribe-input-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .subscribe-input {
    width: 264px;
  }

  .about-list {
    gap: 72px 24px;
  }
  .thumb {
    display: none;
  }
  .modal {
    width: 408px;
  }
  .hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 507px;
    margin: 0 auto 36px;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 18px;
  }
  .site-nav,
  .nav-adress {
    display: block;
  }
  .site-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    display: flex;
    gap: 40px;
  }
  .item {
    list-style: none;
    position: relative;
    margin-right: 0;
  }
  .menu-open,
  .mob-menu-container {
    display: none;
  }
  .active-link.link.current::after {
    bottom: -32px;
  }
  .section-going {
    display: none;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tablet-2x.jpg);
    }
  }
}
